@model _3DC.RecessWeekChallenge.Models.LeaderboardRow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HackerrankUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HackerrankUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LabScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LabScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HackerrankScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HackerrankScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
